.center {
  margin: auto;
  width: 90%;
}

.center1 {
  margin: auto;
  width: 90%;
  padding: 10px;
  margin-bottom: 50px;
}


.pocetak{
	text-align: center;
	margin-top: 50px;
}

.pocetak1{
	text-align: center;
	margin-top: 30px;
}

.polje{
	text-align: center;	
	width: 110px; 
	height: 85px; 
	font-size: 60px;
	
}


.center_t {
  text-align: center;
}

body {
	background-color: #40bf40;
}


.igra_div1 {
  text-align: center;
  margin-top: 50px;
}

.igra_div2 {
  text-align: center;
  margin-top: 20px;
}

.igra_div {
  text-align: center;
  margin-top: 5px;
}

.button {
  background-color: #006600;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.button1 {
  background-color: #3333ff;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

#popup {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.hidden {
  display: none;
}
